[Unit]
Description=Go DOH Proxy
After=network.target

[Service]
Restart=always
User=root
ExecStart=/usr/local/bin/doh

[Install]
WantedBy=multi-user.target
